{% include 'header.html' %}

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="post-title">{{ post.title }}</h2>
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                <img class="img-fluid" src="{{ post.image_url }}" alt="Post Image" />
                <!-- Assume you add an author and date to your post -->
                <p class="post-meta">Posted by <a href="#!">Start Bootstrap</a> on a date</p>
                <p>{{ post.body }}</p>
            </div>
        </div>
    </div>
</article>

{% include 'footer.html' %}
